@using Microsoft.Extensions.DependencyInjection
@using NbSites.Libs.Services
@inject IHelloService current
@{
    var all = this.Context.RequestServices.GetServices<IHelloService>();
}
<h2>@this.Path</h2>
<hr />
<p>current: @current.ToString()</p>
<hr />
@foreach (var item in all)
{
    <p>@item.ToString()</p>
}