@using NbSites.Web.MultiTenancy
@inject TenantKeyHold Hold
@{
    var currentOne = TenantContextService.Mock.Tenant;
    var currentIndex = 0;

    foreach (var holdTenantKey in Hold.TenantKeys)
    {
        if (Hold.SameTenant(currentOne, holdTenantKey))
        {
            break;
        }
        currentIndex++;
    }

    var nextIndex = (currentIndex + 1) % Hold.TenantKeys.Count;
    var newOne = Hold.TenantKeys[nextIndex];
    TenantContextService.Mock.Tenant = newOne;
}
<p>[@currentIndex] -> [@nextIndex]</p>
<h2>Switch FROM '@(currentOne)' TO '@newOne'</h2>
